<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic_layout">

<head></head>

<th:block layout:fragment="content">
    <h1>로그인</h1>
    <div>
        <h1>localhost</h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://localhost:8080/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://localhost:8080/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://localhost:8080/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://localhost:8080/oauth/redirect}">페이스북</a>

        <h1>본인 IP</h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://192.168.0.207:8080/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://192.168.0.207:8080/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://192.168.0.207:8080/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://192.168.0.207:8080/oauth/redirect}">페이스북</a>

        <h1>192.168.0.144:5001</h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://192.168.0.144:5001/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://192.168.0.144:5001/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://192.168.0.144:5001/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://192.168.0.144:5001/oauth/redirect}">페이스북</a>


    </div>
</th:block>

</html>